# This is Moka.
# See the LICENSE file, please.

# Don't track configuration files
core/configuration/*
# Track sample configuration files
!core/configuration/sample

# All of the uploaded data
core/data/files/*
!core/data/files/index.php

# All of the temporary data
core/data/temp/*
!core/data/temp/index.php
